<h1>Snippets</h1>

<%= link_to 'New Snippet', new_snippet_path %>

<% @snippets.each do |snippet| %>
  <div class="snippet">
    <h3><%= snippet.title %></h3>
    <%= link_to 'Show', snippet_path(snippet) %>
    <%= link_to 'Edit', edit_snippet_path(snippet) %>
    <%= link_to 'Delete', snippet_path(snippet), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
